@import "./AppStyle.scss";

@font-face {
    font-family: 'CourierNewPS-BoldMT';
    src: url('/src/Assets/Fonts/CourierNewPS-BoldMT.woff') format('woff'), 
        url('/src/Assets/Fonts/CourierNewPS-BoldMT.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $font-color;
    font-family: $font-base;
}