.app-intro-sprite-sheet {
    width: 100%;
    position: sticky;
    top: 0;

    .intro-sprite-sheet {
        width: 320px;
        height: 100vh;
        margin: 0 auto;
        overflow: hidden;
        display: block;
        position: relative;

    .dump-component {
        width: 100px;
        height: 70px;
        background-color: brown;
    }

        .intro-sprite-sheet-image {
            width: 100%;
            height: 161px;
            max-width: none;
            position: absolute;
            overflow: hidden;
            background-repeat: no-repeat;
            top: 40%;
            font-family:'CourierNewPS-BoldMT';
            background-image: url('/src/Assets/Images/SpriteSheetSectionSVG/spriteSheet320-1.svg');
        }
    }
}