@import "../../Globals.scss";

.app-main-content {
    width: 100%;
    height: 200vh;
    background-color: aqua;

    .app-main-sprite {
        width: 100%;
        height: 200vh;
        background-color: $main-color;
    }

    p {
        font-family: 'CourierNewPS-BoldMT';
    }
}