.app-intro-sprite-sheet {
    position: sticky;
    top: 30%;

    .intro-sprite-sheet {
        width: 100%;
        height: 200px;
        overflow: hidden;
        display: block;
        position: relative;

    .dump-component {
        width: 100px;
        height: 70px;
        background-color: brown;
    }

        .intro-sprite-sheet-image {
            width: 320px;
            height: 159px;
            max-width: none;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 10px;
            background-image: url('../../../Assets/Images/SpriteSheetSection/spritesheet.png');
        }
    }
}